.project-swiper-container {
  .swiper-container {
    overflow: visible !important;
  }

  @media (max-width: 767px) {
    .swiper-wrapper {
      margin-left: -23px;
      padding-left: 23px;
    }
  }

  @media (min-width: 768px) and (max-width: 975px) {
    .swiper-wrapper {
      margin-left: -60px;
      padding-left: 60px;
    }
  }
}

.project-item {
  .card {
    position: relative;
    width: 260px;
    height: 320px;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      background: lightgray 50% / cover no-repeat;
    }
    .content {
      position: absolute;
      bottom: -40px;
      width: 100%;
      height: 117px;
      display: flex;
      justify-content: end;
      align-items: center;
      z-index: 10;
      flex-direction: column;
      border-radius: 0px 0px 16px 16px;
      background: rgba(241, 241, 241, 0.10);
      backdrop-filter: blur(4px);
      transition: 0.5s;
      transition-delay: 0.3s;
      padding-bottom: 32px;
      .text {
        text-shadow: 0px 0px 5px rgba(20, 20, 20, 0.80);
      }
      .tag {
        transition: 0.5s;
        opacity: 0;
        transform: translateY(30px);
        transition-delay: 0.3s;
      }
    }
    &:hover .content {
      bottom: 0;
      height: 100%;
      transition-delay: 0s;
      padding-bottom: 21px;
      border-radius: 16px;
    }
    &:hover .content .tag {
      opacity: 1;
      transform: translateY(-10px);
      padding-top: 15px;
    }
  }
}

.swiper-mask-project {
  mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
}
