@mixin transition($prop: all, $time: 1s, $ease: ease-out) {
  -webkit-transition: $prop $time $ease;
  -moz-transition: $prop $time $ease;
  -ms-transition: $prop $time $ease;
  -o-transition: $prop $time $ease;
  transition: $prop $time $ease;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin square($size) {
  width: $size;
  height: $size;
}

$nearlyBlack: #626262;

// ---- [ Close Button ] ---- //
.close-button {
  @include square(26px);
  border-radius: 6px;
  background: $nearlyBlack;
  position: relative;
  display: inline-block;
  z-index: 200;
  text-indent: -9999px;

  &:before,
  &:after {
    content: '';
    width: 75%;
    height: 1px;
    background: white;
    position: absolute;
    top: 48%;
    left: 12%;
    transform: translate(-50%, -50%);
    @include rotate(-45deg);
    @include transition($time: 0.3s);
  }

  &:after {
    @include rotate(45deg);
    @include transition($time: 0.3s);
  }

  &:hover {
    &:before,
    &:after {
      @include rotate(180deg);
    }
  }
}
