.swiper-wrapper {
  transition-timing-function: linear;
  .swiper-slide > .banner {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 180px;
    letter-spacing: 10px;
    color: white;
    overflow: hidden;
    text-wrap: nowrap;
    opacity: 0.8;

    @media screen and (min-width: 480px) {
      font-size: 120px;
      line-height: 216px;
      letter-spacing: 12px;
    }

    @media screen and (min-width: 768px) {
      font-size: 150px;
      line-height: 270px;
      letter-spacing: 15px;
    }
  }
  .swiper-slide > .no-select {
    -webkit-user-select: none;  /* Chrome, Safari, Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE/Edge */
    user-select: none;          /* 標準語法 */
  }
}
